
  @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap');

:root {
  --primary-color: #ffc500;
  --secondary-color: #eaae00;
  --third-color: #00c0cc;
  --third-color-hover: #02acb8;
  --dark-color: #302f2f;
  --espacamento: 10px 50px 10px 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

  header{
    background-color: var(--secondary-color);
    padding: var(--espacamento);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }

  nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;  
  }

  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  nav ul li a:hover{
    text-decoration: underline;
    color: var(--third-color-hover);
  }

  main{
    background-color: var(--primary-color);
    display: flex;
    padding: var(--espacamento);
  }

  .main-descricao{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
  }

  .main-descricao .botao1{
    background-color: var(--third-color);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
  }

  .main-descricao .botao2{
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid white;
  } 

  .container-botao{
    display: flex;
    gap: 20px;
  }

  .main-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .secao-cards{
    background-color: var(--primary-color);
    padding: var(--espacamento);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .container-cards{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
  }

  .card-redes{
    padding: 15px;
    gap: 10px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

 
  h3, p {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .img-redes{
    width: 50%;
  }
  
  .img-redes:hover{
    scale: 1.2;
  }

  footer{
    background-color: var(--dark-color);
   display: flex;
   padding: var(--espacamento);
  }

  .footer-col1{
    width: 40%;
    display: flex;
    justify-content:  space-around;
    
  }
  .footer-col2{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: right;
    color: white;
    font-size: 18px;
  
  }

  .link {
    color:white;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .link ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }


  .link ul li a{
    text-decoration: none;
    color:white;
  }

  .link ul li a:hover{
    color: var(--third-color);
  }

  .footer-redes{
    gap: 10px;
    display: flex;
    border-radius: 5px;
    height: 40px;
    justify-content: right;
    align-items: center;
  }

  .footer-text{
    text-align: right;
  }